# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

In [111]:
a = 8 #integer
a

8

In [112]:
b = 2.8 #float
b

2.8

In [113]:
c = 'be young' #string
c

'be young'

In [115]:
d = True #boolean
d

True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [1]:
# print variables and string using print function
name = 'virat'
age = 25
print("hello, my name is",name, "my age is",age)

hello, my name is virat my age is 25

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [24]:
# data types
#touples
t = (1,2,4,5,6,)
type(t)

tuple

In [23]:
#list
h = [1,2,4,'m','name',55]
type(h)

list

In [9]:
# set 
t = set([44,25,66,88])
type(t)

set

In [18]:
#float and string
a = 55.5
type(a)

float

In [19]:
a = 'hello everyone'
type(a)

str

In [22]:
#my_dict
my_dict = {'subject':['maths','english','sports'],'vegetable':['onion','potatoes','brinjal']}
type(my_dict)

dict

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [29]:
# arithmetic operation performing
a = 3
b = 5
#performing the addition
print('the addition of', a+b)
#performing the subtraction
print('the subtraction', a-b)
#performing the multipilication
print('the multiplies of', a*b)
#performing the division
print('the division of', a/b)

the addition of 8
the subtraction -2
the multiplies of 15
the division of 0.6

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [32]:
name = ['himanshu','sagar', 'saifi', 'amir', 'shail']
#         0           1       2        3       4
name[0]

'himanshu'

In [33]:
name[1]

'sagar'

In [35]:
name[-1]

'shail'

__Exercise 3 b)__ Print your list of names using different ranges

In [39]:
print(name)

['himanshu', 'sagar', 'saifi', 'amir', 'shail']

In [40]:
name[0:3]

['himanshu', 'sagar', 'saifi']

In [44]:
name[::-1]

['shail', 'amir', 'saifi', 'sagar', 'himanshu']

In [45]:
name[::1]

['himanshu', 'sagar', 'saifi', 'amir', 'shail']

In [46]:
name[3:4]

['amir']

In [49]:
name[2:4]

['saifi', 'amir']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [51]:
len(name)

5

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [57]:
#adding new name
name.append('zaid')
print(name)

['himanshu', 'sagar', 'saifi', 'amir', 'shail', 'zaid', 'zaid']

In [56]:
# i m using a remove method because by mistake i add so many time 'zaid' 
name.remove('zaid')
print(name)

['himanshu', 'sagar', 'saifi', 'amir', 'shail', 'zaid']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [63]:
print(*name)

himanshu sakshi akram sagar saifi amir shail zaid zaid

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [60]:
# using insert method
name.insert(2,'akram')

['himanshu', 'sakshi', 'akram', 'sagar', 'saifi', 'amir', 'shail', 'zaid', 'zaid']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [62]:
print(*name)

himanshu sakshi akram sagar saifi amir shail zaid zaid

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [68]:
name.remove('zaid')

__Exercise 4 g)__ Print the list. Does it look as expected?

In [69]:
print(*name)

sakshi akram sagar saifi amir shail zaid

# Example: For loops

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [118]:
for fruit in fruits:
    fruit = fruits + 's'
    print(fruit)

NameError: name 'fruits' is not defined

__Exercise 5 a)__ Print each name in your list of names

In [107]:
vegetables_list = ['brinjal', 'tomato', 'cauliflower', 'onion', 'capsicum', 'carrot']
for veg in vegetables_list:
    print(veg)

brinjal
tomato
cauliflower
onion
capsicum
carrot

__Exercise 5 b)__ Add a small change to each name in your list

# Example: Dictionaries

In [12]:
my_dict = {"countries":["sweden" , "norway" ,"denmark" ],"capital":["copenhagen" , "stockholm" , "oslo"]}

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [ ]:
j

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

__Exercise 6 d)__ Update Sweden's capital to Malmo

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [23]:
def difference(num1,num2):
    print("Number 1:", num1)
    print("Number 2:", num2)
    do_diff = num1 - num2
    return print('difference of given no is:', do_diff)

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [24]:
difference(10,8)

Number 1: 10
Number 2: 8
difference of given no is: 2

__Exercise 7 c)__ Create a function that can multiply two numbers

In [3]:
def multiply_no(num1,num2):
    print("number 1: ", num1)
    print("number 2: ", num2)
    do_multiply = num1 * num2
    return print('multiply of given no is :', do_multiply)

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [4]:
 multiply_no(5,8)

number 1:  5
number 2:  8
multiply of given no is : 40

__Exercise 7 e)__ Create a function that can divide two numbers

In [8]:
def div(num1,num2):
    return num1/num2
    print("division of given numbers is:", div())

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [9]:
div(25,5)

5.0